@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply transition-colors duration-200;
}
:root {
  --background: #ffffff;
  --foreground: #030712;
}
.dark {
  --background: #ffffff;
  --foreground: #030712;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #030712;
    --foreground: #030712;
  }
}
.borders{
  border: 1px solid rgb(255, 255, 255, 0.1)
}
.borders-nav{
  border: 1px solid rgb(255, 255, 255, 0.1);
  border-radius: 50px;

}
.border-bottom{
  border-bottom: 1px solid rgb(255, 255, 255, 0.1)
}
.shadow{
  box-shadow: 0px 4px 8px 0 rgba(59, 92, 163, 0.2),
              0 6px 8px 0 rgba(59, 92, 163, 0.2);
}
.image-color{
  background-color: rgba(59, 92, 163, 0.2);
}
.marquee {
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}
.marquee-content {
  display: flex;
  width: max-content;
  transform: translateX(50%);
  animation: marquee 100s linear infinite;
}
.marquee-content:hover{
  animation-play-state: paused;
}
.marquee-bottom .marquee-content{
  animation-direction: reverse;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animation{
  transition: ease-in-out;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
